

.container {
  display: flex; /* or inline-flex */
  flex-wrap: nowrap;
  flex-direction: row;

}

.bumblebar {
  /* flex-direction: row; */
  /* align-items: flex-end; */
  /* height: 310px; */
  width: 100%;
  border: 5px solid black;
  /* border-style: solid; */
  border-width: 5px;
  background-color: #E6331F;
  color: white;
  position: relative;
}

.sholder {
  height: 310;
  align-items: flex-end;
  width: 50%;
  border: solid 3 px;
  border-color: black;
  background-color: #FFFF00;
}

#action-button {
margin-left: 20px;
margin-top: 20px;
}

#picto {
  height: auto;
  max-width: 375px;
}

.sidebarl {
  height: 150px;
  width: 150px;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  background-color: black;
  /* z-index: 4; */
  /* align-items: flex-end; */
  position: absolute;
  left: 0px;
  top: 0px;
}

.sidebarr {
  height: 150px;
  width: 150px;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  background-color: black;
  /* z-index: 4; */
  /* align-items: flex-end; */
  position: absolute;
  right: 0px;
  top: 0px;
}

.vidbar {
  height: 150px;
  width:285px;
  border-color: white;
	border-style: solid;
	border-width: 5px;
  background-color: black;
  z-index: 4;
  align-items: flex-end;
}

.Emmet {
  flex-direction: row;
  height: 600px;
  width: 100%;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  background-color: #E6331F;
}

.mainsearch {
  flex-direction: row;
  height: 150px;
  width: 100%;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  background-color: blue;
}

.maindisplay {
  align-items: flex-end;
  height: auto;
  width: 100%;
  border-color: white;
  border-style: solid;
  border-width: 5px;
  background-image: url("../Images/upclose.jpg");
  background-repeat: no-repeat;
  background-size: 125%;
  z-index: 1;
}

.qbox {
  z-index: 2;
  margin: auto;
  margin-left: 50px;
  margin-right: 50px;
  border: 3px solid;
  border-color: black;
  width: 90%;
  height: 80%;
  background-color: white;
  opacity: .5;
  overflow: auto;
}

/* The google custom search box */
.qbox_e {
  z-index: 5;
  margin: auto;
  margin-left: 50px;
  margin-right: 50px;
  border: 3px solid;
  border-color: black;
  width: 90%;
  height: 80%;
  background-color: white;
  opacity: 1;
  overflow: auto;
  padding: 20px;
}

.shady {
  opacity: 0.5;
}

.notshady {
  opacity: 1.0;
}
.searchwrap {
/*  background-color: #FFD401; */
  border-style: solid;
  border-width: 3px;
  background-color: #E6331F;
  color: black;
  box-shadow: 10px 10px 5px black;
}

.searchwrap_b {
/*  background-color: #FFD401; */
  border-style: solid;
  border-width: 3px;
  background-color: blue;
  color: black;
  box-shadow: 10px 10px 5px black;
}

.searchwrap_m {/*  background-color: #FFD401; */border: 5px solid black;/* border-width: 5px; */background-color: #FFFF00;color: black;box-shadow: 10px 10px 5px black;width: 80%;margin: 0 auto;}

.searchwrap_y {
  border-style: solid;
  border-width: 3px;
  background-color: #FFD401;
  color: black;
  box-shadow: 10px 10px 5px black;
}

.searchwrap_p {
  border-style: solid;
  border-width: 3px;
  max-width: 650px;
  background-color: #4B0082;
  color: black;
  box-shadow: 10px 10px 5px black;
}

.searchwrap {font-family: 'LegoFont';}
.searchwrap_b {font-family: 'LegoFont';}
.searchwrap_y {font-family: 'LegoFont';}
.searchwrap_m {font-family: 'LegoFont';}
.searchwrap {font-family: 'LegoFont';}
.exboxp {font-family: 'LegoFont';}
.references {font-family: 'LegoFont';}
.searchwrap_p {font-family: 'LegoFont';}


.exboxp {
  color: black;
  background-color: yellow;
  text-align: center;
}
.api {
  margin-right: 5px;
  align-items: flex-start;
  height: 500px;
  position: inherit;
  display: inline-flex;
  width: 30%;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  background-color: #FFD000;
  z-index: 5;
  margin-top: 50px;
  order: 0;
}

#resultz {
  margin-left: 5px;
  align-items: flex-end;
  height: 500px;
  position: inherit;
  display: inline-flex;
  width: 60%;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  background-color: #FFD000;
  z-index: 5;
  margin-top: 50px;
  order: 1;
}

#searchfor {
  margin-left: 20px;
  margin-top:20px;
  background-size: 105%;

}

#logol {
  /* display: inline-block; */
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  border: 3px solid white;
  /* border-style: solid; */
  /* border-width: 3px; */
  background-image: url("../Images/basic.png");
  /* z-index: 5; */
  /* margin-top: 7.5px; */
  background-size: cover;
  background-position: center center;
}

#logor {
  /* display: inline-block; */
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  border: 3px solid black;
  /* border-style: solid; */
  /* border-width: 3px; */
  background-image: url("../Images/basic2.png");
  background-size: cover;
  /* z-index: 5; */
  /* margin-top: 7.5px; */
  background-position: center center;
}

#extsearch, #extsearch_y, #extsearch_b {
  height: 60px;
  position: relative;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  background: white;
  z-index: 3;
  box-shadow: 10px 10px 5px black;
}

#extsearchbrickable {
  height: 60px;
  position: relative;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  background: white;
  z-index: 3;
  box-shadow: 10px 10px 5px black;
  max-width: 550px;
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;

}

.searchwrap {
  border: 3px solid black;
  flex-direction: row;
  position: inherit;
  width: 100%;
  height: auto;
  display: inline-flex;
  flex-direction: row;
}

.expandabox {
  height: 100px;
  width: 300px;
  border: 3px white solid;
  z-index: 3;
  margin: 10px;
  -webkit-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
  background-color: white;
}



.expandabox:hover {
    height: 300px;
}

.input[type=text]:not(#extsearch_m) {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus:not(#extsearch_m) {
    width: 100%;
}

#extsearchbrickable:focus {
    width: 90%;
  }
#extsearch_m {
   /* height: 60px; */
   /* position: relative; */
   margin: 25px;
   /* margin-left: 25px; */
   /* margin-right: 25px; */
   /* margin-bottom: 25px; */
   background: white;
   font-size: 36px;
   text-align: center;
   /* z-index: 3; */
   box-shadow: 10px 10px 5px black;
   width: 96%;
   padding: 20px 0px;
 }
#

/* When the input field gets focus, change its width to 100% */

.sholder {
  height: 310;
  align-items: flex-end;
  width: 50%;
  border: solid 3 px;
  border-color: black;
  background-image: url("../Images/movieposter.jpg");
  z-index: 2;
  background-position: center;
  background-size: 120%;
}

#action-button {
margin-left: 20px;
margin-top: 20px;
}

#picto {
  height: auto;
  width: auto;
  max-width: 375px;
  max-height: inherit;
  margin: 20px;
  width: 90%;
}

#picto > img {
  height: auto;
  max-width: 375px;
  width: auto;
  max-height: 350px;
  border: 3px solid black;
  box-shadow: 10px 10px 5px black;
}

#info, #infob, #infoc {
  max-width: 80%;
  margin: 10px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bolder;
  text-shadow: 5px 5px 5px white;
}

#info {font-family: 'LegoFont';}
#infob {font-family: 'LegoFont';}
#infoc {font-family: 'LegoFont';}

.gmapimg {
  width: 90%;
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;;
  margin: 20px auto;
  border: black 3px solid;
}
.personable {
  background-image: url("../Images/upclose.jpg");
  background-size: 50%;
}

html {
  background-color: #FFD000;
  border-color: #E32B1F;
}


.BottomBox {

  margin: auto;
	height: 400px;
	width: 45%;
  border-style: solid;
	border-color: #D2691E;
	border-width: 3px;
	background-color: #232743;
  margin-right: 20px;
  margin-left: 20px;
  opacity: .95;
}

.TitleBar {
  /* margin-bottom: 15px; */
  /* margin-left: 25px; */
  /* margin-right: 25px; */
  /* width: auto; */
  /* width: 475px; */
  background-color: none;
  color: #FFD000;
  text-align: center;
  font-size: 64px;
  /* justify-content: center; */
  width: 50%;
  margin: 0 auto;
}

.TitleBar p {/*  background-color: #FFD401; */border-style: solid;border-width: 3px;background-color: #E6331F;color: white;text-shadow: 2px 2px black;box-shadow: 10px 10px 5px black;margin: 0px;}

.TitleBar {font-family: 'LegoFont';}

@font-face {
font-family: 'LegoFont';
src: url('Legothick.ttf');
}

.navbar {
  width: 100%;
  height: 150px;
  opacity: .95;
  display: flex;
  flex-direction: row;
  max-height: 250px;
  background-color: #D2691E;
  border-style: solid;
  border-color: #232743;
  border-width: 5px;
}



.footer, .subfooter {
  width: 100%;
	height: 160px;
	/*margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 5px;
	margin-right: 5px; */
	margin: auto;
	background-color: #E6331F;
	border-style: solid;
	border-color: black;
	border-width: 3px;
  z-index: 1;
}

.footer:hover {
  border-color: white;
}

.icon_links {
  margin-top: 30px;
  margin-left: 50px;
  max-width: 60%;
  align-items: flex-start;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  color: black;
  font-style: large;
  font-size: 32px;
  font-style: italic;
  z-index: 5
}

.icon_links > i {
  background-color: white;
  border-radius: 50%;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 48px;
  height: 48px;
  z-index: 3;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  line-height: inherit;
  vertical-align: middle;
  /*padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;*/
  background-position: center;
}

.icon_links > a {
  text-decoration: none;
}

.icon_links > a:hover {
  text-decoration: none;
}

.icon_links > a:visited {
  text-decoration: none;
}

.icon_links > a:active {
  text-decoration: none;
}

.icon_links > i:hover {
  background-color: black;
  color: white;
}

.references {
  margin: auto;
  border: 3px white solid;
  height: 100px;
  width: 250px;
  color: white;
  text-shadow: 1px 1px white;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  box-shadow: 10px 10px 5px black;
  background-color: #FFFF00;
  color: black;
  position: inherit;
  float: right;
}

.btnclk {
  background-color: white;
  color: black;
  box-shadow: none;
}
.ending_caption {
  margin-top: 10px;
  margin-left: 50px;
  font-size: small;
  position: relative;
	color: white;

}
